body {
    background-color: #ECB176;
}

#navigation {
    border-bottom-right-radius: 10;
    background-color: #6F4E37;
}
#title {
    font-family: 'brush script mt';
    color: #53321C;
    font-size: 7rem;
}
#signIn_title {
    font-family: 'brush script mt';
    color: #53321C;
}
#firstForm input {
    width: 100%;
    height: 45px;
    font-size: 20px;
    color: #53321C;
    background-color: #D9D9D9;
    border: none;
}
#positionInput {
    width: 100%;
    height: 45px;
    font-size: 20px;
    color: #53321C;
    background-color: #D9D9D9;
    border: none;
}
#signIn_input::placeholder {
    font-style: italic;
}
#label {
    font-family: 'brush script mt';
    color: #53321C;
    font-size: 30px;
    margin-bottom: 0px;
}
#logInButton {
    background-color: #A67B5B;
    border: 1px #654520;
    color: white;
    font-family: 'Arial black';
    margin-top: 5px;
    margin-bottom: 5px;
}

#cancelButton {
    background-color: #A67B5B;
    border: 1px #654520;
    color: white;
    font-family: 'Arial black';
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    margin: auto;
}
#logo {
    width: 40px;
    margin-left: 10px;
}
#visit_website {
    color: #654520;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 0%;
}
#website_box {
    margin: auto;
    text-align: center;
    width: 80%;
    border: 1px solid #654520;
    height: 3rem;
    border-radius: 25px;
    padding-top: 1px;
}
#visit {
    color: #654520;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    margin: 0%;
}

.logIn-overlay {
    display: block;
}

.display-overlay {
    display: none;
}

/* Floating pin */
.admin-pin input{
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 30px;
    width: 3ch;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    flex: 1;
    margin-bottom: 20px;
}
.admin-pin {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    display: none;
}

#firstForm {
    display: block;
}

/* CASHIER */

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 92.8vh;

}

.currentOrder {
    width: 80%;
    height: 100%;
    border-radius: 20px;
}

.sideBar {
    width: 20%;
    height: 100%;
    background-color: #6F4E37;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cardOrder {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #FED8B1;
    padding: 20px;
    color: #53321C;
    margin: auto;
    margin-top: 2%;
    border-radius: 20px;
    height: 80%;
    font-family: 'brush script mt';
}
.cardOrder img, h1, h3{
    margin: auto;
}
.cardOrder h3 {
    font-family: 'Courier New', Courier, monospace;
}
.cardOrder img {
    width: 20%;
}
.cardOrder h1{
    font-size: 80px;
}
.card-description {
    border: 1px solid black;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
}

.button-div {
    margin-top: 50px;
    width: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #53321C;
    padding: 30px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: #6F4E37;
    color: #f1f1f1;
    width: 20ch;
    font-family: Arial;
    font-weight: bolder;
}

.cardProceed {
    width: 80%;
    background-color: #FED8B1;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    color: #53321C;
    font-family: 'brush script mt';
}

.cardProceed img {
    width: 20%;
}
.cardProceed img, h2, h4 {
    margin: auto;
}
.cardProceed h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}